*{
  /* outline: 1px dashed black */
}


/*=================*/
/* Utility Classes */
/*=================*/
.strip-margin{
  margin: 0;
}

main.page > div.page__container{
  max-width: 1000px;
}

div.page__container > form.page__search-form{
  height: 50px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

div.page__container > form.page__search-form > *{
  font-size: 1em;
  padding: 1em;
}



/*================*/
/* Filter Section */
/*================*/
section.filter-section{
  margin-top: calc(var(--base-margin) * 3);
}
div.filter-section__filter-container{
  overflow-x: scroll;
}

div.filter-section__filter-row{
  width: max-content;
  display: flex;
  gap: 1em;
  padding: 1em 0.1em;
  justify-content: center;
  margin: 0 auto;
}

div.filter-section__filter-item{
  padding: 0 1em;
  cursor: pointer;
  background-color: white;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
  border-radius: calc(var(--base-border-radius) / 2);
}



/*==============*/
/* Data Section */
/*==============*/
div.data-daily__grouped{
  display: flex;
  flex-direction: column;
  gap: calc(var(--base-gap) * 2);
  margin-top: calc(var(--base-margin) * 4);
}
div.data-daily{
  display: grid;
  gap: 2em;
}

div.data-daily__content{
  /* height: 100px; */
  display: grid;
  gap: var(--base-gap);
  grid-template-columns: 100px 1fr;
  gap: 2em;
  padding: var(--base-padding) calc(var(--base-padding) * 1.5) ;
  background-color: white;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
  border-radius: calc(var(--base-border-radius) / 2);
}

div.data-daily__content > div.data-daily__content-id{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

div.data-daily__content > div.data-daily__content-data > * > span{
  color: grey;
}

div.data-daily__content > div.data-daily__content-data > *{
  display: grid;
  grid-template-columns: 140px 1fr;
}



/* Media Query For Mobile Devices */
@media (max-width: 750px){
  div.data-daily__content{
    grid-template-columns: 1fr;
    grid-auto-flow: row;    
  }
}