*{
  outline: 1px dashed black
}


/*=================*/
/* Utility Classes */
/*=================*/
.strip-margin{
  margin: 0;
}

main.page > div.page__container{
  max-width: 1000px;
}

div.page__container > form.page__search-form{
  height: 50px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

div.page__container > form.page__search-form > *{
  font-size: 1em;
  padding: 1em;
}



/*==============*/
/* Data Section */
/*==============*/
div.data-daily{
  display: grid;
  gap: 2em;
}
div.data-daily__content{
  height: 100px;
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 2em;
}